
<!DOCTYPE html >
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="~/favicon.ico type="image/x-icon">  
    <title>@ViewData["Title"]</title>

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet" >

    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/fontaswomeMin.css" rel="preload">

    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/flagMin.css" rel="preload" >

    <!-- Datatable css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/DataTableMin.css" rel="preload">

    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrapMin.css" rel="preload">

    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/adminMin.css" rel="preload">
</head>
<body>

    <!-- page-wrapper Start-->
    <div class="page-wrapper">

        <div  class="page-main-header">
            <div  class="main-header-right row">
                <div  class="main-header-left d-lg-none">
                    <div class="logo-wrapper"><a href="#"><img class="blur-up lazyloaded" loading="lazy" src="/assets/images/banner2.webp" alt=""></a></div>
                </div>
                <div  class="mobile-sidebar">
                    <div  class="media-body text-right switch-sm">
                        <label  class="switch"><a  href="#"><i  id="sidebar-toggle" data-feather="align-left"></i></a></label>
                    </div>




                </div>
                <div  class="nav-right col">
                    <ul  class="nav-menus">
                        <li ><a  class="text-dark" href="#" onclick="javascript:toggleFullScreen()"><i  data-feather="maximize-2"></i></a></li>

                        <li  class="nav-item">
                            <a  class="nav-link btn btn-primary logout-button" href="/Account/Logout">تسجيل خروج</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Page Header Ends -->
        <!-- Page Body Start-->
        <div class="page-body-wrapper">

        <!-- Page Sidebar Start-->
            @await Html.PartialAsync("_Sidebar")

            <div class="page-body">
                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="page-header "  >
                        @RenderBody()
                     </div>
                </div>
            </div>
        </div>
    </div>
    <!-- latest jquery-->
    <script src="~/assets/js/jquery-3.3.1.min.js" defer></script>
    <script src="~/assets/js/jquery-3.7.1.slim.min.js"></script>
    <!-- Bootstrap js-->
    <script src="~/assets/js/popper.min.js" defer></script>
    <script src="~/assets/js/bootstrap.js" defer></script>

    <!-- feather icon js-->
    <script src="~/assets/js/icons/feather-icon/feather.min.js" defer></script>
    <script src="~/assets/js/icons/feather-icon/feather-icon.js" defer></script>

    <!-- Sidebar jquery-->
    <script src="~/assets/js/sidebar-menu.js" defer></script>

    <!-- Datatables js-->
    <script src="~/assets/js/datatables/jquery.dataTables.min.js" defer></script>
    <script src="~/assets/js/datatables/custom-basic.js" defer></script>

    <!--Customizer admin-->
    <script src="~/assets/js/admin-customizer.js" defer></script>

    <!-- lazyload js-->
    <script src="~/assets/js/lazysizes.min.js" defer></script>

    <!--right sidebar js-->
    <script src="~/assets/js/chat-menu.js" defer></script>

    <!--script admin-->
    <script src="~/assets/js/admin-script.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

      </body>
</html>
